<% include partials/head %>
<% include partials/header %>

<h1>
	<%= title %>
</h1>
<form class="profileForm">
	<div class="inputGroup">
		<label>
			Brugernavn
			<input type="text" name="username" value="<%= user.username %>" disabled>
		</label>
	</div>
	<div class="inputGroup">
		<label>
			Profilbillede
			<input type="file" class="profileFileSelect">
		</label>
		<img src="/uploads/<%= user.photo %>" alt="Standard profilbillede" class="profileImage">
	</div>
	<div class="inputGroup">
		<label>
			Fornavn
			<input type="text" name="firstname" value="<%= user.firstname %>">
		</label>
	</div>
	<div class="inputGroup">
		<label>
			Efternavn
			<input type="text" name="lastname" value="<%= user.lastname %>">
		</label>
	</div>
	<div class="inputGroup">
		<label>
			Beskrivelse
			<textarea name="bio"><%= user.bio %></textarea>
		</label>
	</div>
	<button type="submit">Gem</button>
</form>
<script>
	const form = document.querySelector('.profileForm');
	form.addEventListener('submit', function (event) {
		event.preventDefault();
		fetch('/profile', {
				method: 'PATCH',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					firstname: this.firstname.value,
					lastname: this.lastname.value,
					bio: this.bio.value
				})
			})
			.then(response => {
				if (response.status === 204) {
					window.location.href = '/profile'
				}
			}).then(data => {
				/* ??? */
			})
	});

	const file = document.querySelector('.profileFileSelect');
	file.addEventListener('change', function (event) {
		const formData = new FormData();
		formData.append('photo', this.files[0]);
		fetch('/profile/image', {
				method: 'PATCH',
				body: formData
			})
			.then(response => {
				if (response.status === 200) {
					window.location.href = '/profile';
				};
			})
			.then(data => {
				const img = document.querySelector('.profileImage');
				img.src = `./uploads/${data.photo}`;
			});
	});
</script>

<% include partials/footer %>
<% include partials/after-footer %>