<% include partials/head %>
<% include partials/header %>

<h1>
    <%= home.title %>
</h1>

<a href="/produkt" class="product-back"><i class="fas fa-arrow-left"></i> Tilbage</a>

<div class="singleproduct-content_box">
    <% products.forEach(result => { %>
    <section>
        <img src="../uploads/<%= result.image %>" alt="<%= result.id %> Image" class="single-product-image">
        <div class="content_box_content">
            <h2>
                <%= result.name %>
            </h2>
            <h3>
                € <%= result.price %>.00
            </h3>
            <p>
                <%= result.description %>
            </p>
            <button>Bestil her</button>
        </div>
    </section>

    <% }); %>
</div>

<% include partials/footer %>
<% include partials/after-footer %>